name: CI

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/ci.yml"
      - "Miso/**"
      - "Miso.xcodeproj/**"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/ci.yml"
      - "Miso/**"
      - "Miso.xcodeproj/**"

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: set -o pipefail && xcodebuild build -scheme Miso -configuration Debug | xcbeautify
